@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0d17;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: 100%;
}

.page {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.page__home {
  background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
}
.page__destination {
  background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
}
.page__crew {
  background-image: url(/starter-code/assets/crew/background-crew-desktop.jpg);
}
.page__technology {
  background-image: url(/starter-code/assets/technology/background-technology-desktop.jpg);
}

.nav {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding: 5px 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
}
.nav__list::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 35vw;
  background-color: #d0d6f9;
  opacity: 0.3;
  top: 50%;
  right: 95%;
}
.nav__item {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.7;
  font-family: "Barlow Condensed", sans-serif;
  list-style: none;
  margin: 20px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.nav__link span {
  font-weight: bolder;
  margin-right: 5px;
}
.nav__link::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 110%;
  background-color: #fff;
  bottom: -24px;
  left: 0;
  display: none;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 110%;
  background-color: #fff;
  opacity: 0.5;
  bottom: -24px;
  left: 0;
  display: block;
}
.nav__link:active::after {
  opacity: 1;
}
.nav__active {
  position: relative;
}
.nav__active::after {
  content: "";
  position: absolute;
  display: block;
  height: 2.5px;
  width: 110%;
  background-color: #fff;
  bottom: -24px;
  left: 0;
}
.nav__toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.home-intro {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 6em;
  padding-top: 18em;
  justify-content: space-between;
}
.home-intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.home-intro__topText {
  color: #d0d6f9;
  font-size: 28px;
  letter-spacing: 4.75;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.home-intro__title {
  color: #fff;
  font-size: 100px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  padding: 1rem;
}
.home-intro__bottomText {
  color: #d0d6f9;
  line-height: 1.5;
}
.home-intro__explore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.home-intro__link {
  color: #fff;
  font-size: 28px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  color: #0b0d17;
  text-decoration: none;
  padding: 3.5em 2em;
  border-radius: 100%;
  background-color: #fff;
}
.home-intro__link:hover {
  outline: 35px solid rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
}

.page-destination {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page-destination__title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.35;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  padding: 2em;
  letter-spacing: 5px;
}
.page-destination__title span {
  opacity: 0.6;
  margin-right: 10px;
}
.page-destination__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
}
.page-destination__img {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}
.page-destination__directions {
  width: 50%;
  min-width: 500px;
  padding: 2em;
  margin: 0 auto;
}
.page-destination__planets ul {
  display: flex;
}
.page-destination__planets ul li {
  padding: 1em;
  list-style: none;
}
.page-destination__planets ul li button {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.7;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
}
.page-destination__planets ul li button::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  bottom: -8px;
  left: 0;
  display: none;
}
.page-destination__planets ul li button:hover::after {
  content: "";
  opacity: 0.5;
  display: block;
}
.page-destination__planets ul li button:active::after {
  opacity: 1;
}
.page-destination__planet {
  color: #fff;
  font-size: 100px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.page-destination__desc {
  color: #d0d6f9;
  opacity: 0.7;
  line-height: 1.5;
  padding-bottom: 2em;
}
.page-destination__details {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  width: 100%;
}
.page-destination__info {
  width: 50%;
}
.page-destination__subtitle {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.35;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  padding-top: 1em;
  color: #d0d6f9;
  opacity: 0.8;
}
.page-destination__numbers {
  color: #fff;
  font-size: 28px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  padding-top: 0.5em;
}

.swiper {
  max-width: 1000px;
  height: 100%;
}
.swiper-pagination {
  color: #d0d6f9;
}
.swiper-slide {
  display: flex;
  padding: 2em;
}
.swiper-slide__content {
  width: 50%;
}

@media (max-width: 912px) {
  .page {
    background-size: 100% 100%;
    height: 100%;
  }
  .page__home {
    background-image: url(/starter-code/assets/home/background-home-tablet.jpg);
  }
  .page__destination {
    background-image: url(/starter-code/assets/destination/background-destination-tablet.jpg);
  }
  .page__crew {
    background-image: url(/starter-code/assets/crew/background-crew-tablet.jpg);
  }
  .page__technology {
    background-image: url(/starter-code/assets/technology/background-technology-tablet.jpg);
  }

  .nav__list {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .nav__list::before {
    display: none;
  }
  .nav__link span {
    display: none;
  }

  .home-intro {
    flex-direction: column;
    padding-top: 6em;
  }
  .home-intro__content {
    max-width: 100%;
    text-align: center;
  }
  .home-intro__bottomText {
    margin: 0 auto;
    max-width: 60%;
  }
  .home-intro__explore {
    padding-top: 4em;
  }

  .page-destination__img {
    width: auto;
    min-width: none;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .page-destination__img img {
    max-width: 80%;
  }
}
@media (max-width: 550px) {
  .page__home {
    background-image: url(/starter-code/assets/home/background-home-mobile.jpg);
  }
  .page__destination {
    background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
  }
  .page__crew {
    background-image: url(/starter-code/assets/crew/background-crew-mobile.jpg);
  }
  .page__technology {
    background-image: url(/starter-code/assets/technology/background-technology-mobile.jpg);
  }

  .nav {
    padding: 0;
    align-items: flex-start;
    min-height: 250px;
  }
  .nav__img {
    padding: 1em;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: flex-start;
  }
  .nav__list--active {
    display: flex;
  }
  .nav__link {
    display: flex;
  }
  .nav__link span {
    display: block;
  }
  .nav__toggleBtn {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    z-index: 10;
  }

  .home-intro__bottomText {
    max-width: 100%;
  }
  .home-intro__title {
    font-size: 30px;
    padding: 1em 0;
  }
  .home-intro__explore {
    transform: scale(0.8);
  }

  .page-destination__img {
    min-width: 250px;
  }
  .page-destination__directions {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-destination__planets ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .page-destination__planets ul li {
    width: 50%;
  }
  .page-destination__planet {
    font-size: 60px;
  }
  .page-destination__details {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */