$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #fff;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@mixin heading1 {
  color: $white;
  font-size: 150px;
  font-family: 'Bellefair', serif;
}

@mixin heading2 {
  color: $white;
  font-size: 100px;
  font-family: 'Bellefair', serif;
}

@mixin heading3 {
  color: $white;
  font-size: 56px;
  font-family: 'Bellefair', serif;
}

@mixin heading4 {
  color: $white;
  font-size: 32px;
  font-family: 'Bellefair', serif;
}

@mixin heading5 {
  color: $light-blue;
  font-size: 28px;
  letter-spacing: 4.75;
  font-family: 'Barlow Condensed', sans-serif;
}

@mixin Subheading1 {
  color: $white;
  font-size: 28px;
  font-family: 'Bellefair', serif;
}

@mixin Subheading2 {
  color: $white;
  font-size: 14px;
  letter-spacing: 2.35;
  font-family: 'Barlow Condensed', sans-serif;
}
@mixin navtext {
  color: $white;
  font-size: 16px;
  letter-spacing: 2.7;
  font-family: 'Barlow Condensed', sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-blue;
  color: $white;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.home-page {
  background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.nav {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 35vw;
      background-color: $light-blue;
      opacity: 0.3;
      top: 50%;
      right: 95%;
    }
  }
  &__item {
    @include navtext;
    list-style: none;
    margin: 20px;
  }
  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    span {
      font-weight: bolder;
      margin-right: 5px;
    }
    &::after {
      content: '';
      position: absolute;
      height: 2.5px;
      width: 110%;
      background-color: $white;
      bottom: -24px;
      left: 0;
      display: none;
    }
    &:hover::after {
      content: '';
      position: absolute;
      height: 2.5px;
      width: 110%;
      background-color: $white;
      opacity: 0.5;
      bottom: -24px;
      left: 0;
      display: block;
    }
    &:active::after {
      opacity: 1;
    }
  }
  &__toggleBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
}

.home-intro {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 6em;
  padding-top: 18em;
  justify-content: space-between;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }
  &__topText {
    @include heading5;
    text-transform: uppercase;
  }
  &__title {
    @include heading2;
    text-transform: uppercase;
    padding: 1rem;
  }
  &__bottomText {
    color: $light-blue;
    line-height: 1.5;
  }
  &__explore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
  }
  &__link {
    @include Subheading1;
    text-transform: uppercase;
    color: $dark-blue;
    text-decoration: none;
    padding: 3.5em 2em;
    border-radius: 100%;
    background-color: $white;
    &:hover {
      outline: 35px solid rgba(255, 255, 255, 0.2);
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 912px) {
  .home-page {
    background-image: url(/starter-code/assets/home/background-home-tablet.jpg);
  }
  .nav {
    &__list {
      &::before {
        display: none;
      }
    }
    &__link {
      span {
        display: none;
      }
    }
  }
  .home-intro {
    flex-direction: column;
    padding-top: 6em;
    &__content {
      max-width: 100%;
      text-align: center;
    }
    &__bottomText {
      margin: 0 auto;
      max-width: 60%;
    }
    &__explore {
      padding-top: 4em;
    }
  }
}

@media (max-width: 550px) {
  .home-page {
    background-image: url(/starter-code/assets/home/background-home-mobile.jpg);
  }
  .nav {
    &__list {
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
    }
    &__link {
      display: flex;
      span {
        display: block;
      }
    }
    &__toggleBtn {
      display: block;
      position: absolute;
      top: 1em;
      right: 1em;
    }
  }
  .home-intro {
    &__bottomText {
      max-width: 100%;
    }
  }
}
