$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #fff;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@mixin heading1 {
  color: $white;
  font-size: 150px;
  font-family: 'Bellefair', serif;
}

@mixin heading2 {
  color: $white;
  font-size: 100px;
  font-family: 'Bellefair', serif;
}

@mixin heading3 {
  color: $white;
  font-size: 56px;
  font-family: 'Bellefair', serif;
}

@mixin heading4 {
  color: $white;
  font-size: 32px;
  font-family: 'Bellefair', serif;
}

@mixin heading5 {
  color: $light-blue;
  font-size: 28px;
  letter-spacing: 4.75;
  font-family: 'Barlow Condensed', sans-serif;
}

@mixin Subheading1 {
  color: $white;
  font-size: 28px;
  font-family: 'Bellefair', serif;
}

@mixin Subheading2 {
  color: $white;
  font-size: 14px;
  letter-spacing: 2.35;
  font-family: 'Barlow Condensed', sans-serif;
}
@mixin navtext {
  color: $white;
  font-size: 16px;
  letter-spacing: 2.7;
  font-family: 'Barlow Condensed', sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-blue;
  color: $white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: 100%;
}

 .homepage-body {
    background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
  }
  .destination-body {
    background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
  }
  .crew-body {
    background-image: url(/starter-code/assets/crew/background-crew-desktop.jpg);
  }
  .technology-body {
    background-image: url(/starter-code/assets/technology/background-technology-desktop.jpg);
  }
.page {
  
  min-height: 100vh;
  width: 100%;
}

.nav {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 35vw;
      background-color: $light-blue;
      opacity: 0.3;
      top: 50%;
      right: 95%;
    }
  }
  &__item {
    @include navtext;
    list-style: none;
    margin: 20px;
  }
  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    span {
      font-weight: bolder;
      margin-right: 5px;
    }
    &::after {
      content: '';
      position: absolute;
      height: 2.5px;
      width: 110%;
      background-color: $white;
      bottom: -24px;
      left: 0;
      display: none;
    }
    &:hover::after {
      content: '';
      position: absolute;
      height: 2.5px;
      width: 110%;
      background-color: $white;
      opacity: 0.5;
      bottom: -24px;
      left: 0;
      display: block;
    }
    &:active::after {
      opacity: 1;
    }
  }
  &__active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2.5px;
      width: 110%;
      background-color: $white;
      bottom: -24px;
      left: 0;
    }
  }

  &__toggleBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
}

.home-intro {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 6em;
  padding-top: 18em;
  justify-content: space-between;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }
  &__topText {
    @include heading5;
    text-transform: uppercase;
  }
  &__title {
    @include heading2;
    text-transform: uppercase;
    padding: 1rem;
  }
  &__bottomText {
    color: $light-blue;
    line-height: 1.5;
  }
  &__explore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
  }
  &__link {
    @include Subheading1;
    text-transform: uppercase;
    color: $dark-blue;
    text-decoration: none;
    padding: 3.5em 2em;
    border-radius: 100%;
    background-color: $white;
    position: relative;
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $light-blue;
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: -10;
      opacity: 0;
      animation: shadow 2s infinite;
    }
    &:hover {
      outline: 35px solid rgba(255, 255, 255, 0.2);
      transition: all 0.4s ease-in-out;
    }
  }
}

.page-destination {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  &__title {
    @include Subheading2;
    text-transform: uppercase;
    padding: 2em;
    letter-spacing: 5px;
    max-width: 1200px;
    margin: 0 auto;
    span {
      opacity: 0.6;
      margin-right: 10px;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
  }
  &__img {
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
  }
  &__directions {
    width: 50%;
    min-width: 500px;
    padding: 2em;
    margin: 0 auto;
  }
  &__planets {
    ul {
      display: flex;
      li {
        padding: 1em;
        list-style: none;
        button {
          @include navtext;
          text-transform: uppercase;
          letter-spacing: 2px;
          background: none;
          border: none;
          position: relative;
          cursor: pointer;
          &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $white;
            bottom: -8px;
            left: 0;
            display: none;
          }
          &:hover::after {
            content: '';
            opacity: 0.5;
            display: block;
          }
          &:active::after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__planet {
    @include heading2;
    text-transform: uppercase;
  }
  &__desc {
    color: $light-blue;
    opacity: 0.7;
    line-height: 1.5;
    padding-bottom: 2em;
  }
  &__details {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    width: 100%;
  }
  &__info {
    width: 50%;
  }
  &__subtitle {
    @include Subheading2;
    text-transform: uppercase;
    padding-top: 1em;
    color: $light-blue;
    opacity: 0.8;
  }
  &__numbers {
    @include Subheading1;
    text-transform: uppercase;
    padding-top: 0.5em;
  }
}
.page-crew {
  .swiper {
    max-width: 1000px;
    height: 700px;
    position: relative;
    .swiper-pagination {
      position: absolute;
      left: -300px;
      bottom: 200px;
      &-bullet {
        background: $light-blue;
        width: 12px;
        height: 12px;
      }
    }
    &-slide {
      display: flex;
      padding: 2em;
      flex-wrap: wrap;
      justify-content: center;
      height: fit-content;
      &__content {
        width: 50%;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        position: relative;
      }
      &__position {
        @include heading4;
        text-transform: uppercase;
        font-size: 20px;
        opacity: 0.6;
      }
      &__name {
        @include heading4;
        text-transform: uppercase;
        padding: 0.5em 0;
        font-size: 32px;
      }
      &__desc {
        color: $light-blue;
        opacity: 0.7;
        line-height: 1.5;
      }
      &__img {
        width: 50%;
        min-width: 400px;
        padding: 2em;
        max-height: 600px;
        img {
          width: 100%;
        }
      }
    }
  }
}
.page-technology {
  &__container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    button {
      padding: 1.5em 1.8em;
      font-size: 16px;
      margin: 1.5em;
      color: $white;
      background-color: transparent;
      border: 1px solid $light-blue;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        outline: 2px solid $light-blue;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
    width: 400px;
  
  }
  &__contentCtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
    width: 400px;
  }
 
  &__title {
    @include heading5;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 0.5em;
  }
  &__mainTitle {
    @include heading4;
    text-transform: uppercase;
    padding: 0.5em;
  }
  &__desc {
    @include Subheading2;
    color: $light-blue;
    font-size: 18px;
    opacity: 0.8;
    padding: 0.5em;
  }
  &__img {
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 1em;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 912px) {
  .page {
    background-size: 100% 100%;
    height: 100%;
    &__home {
      background-image: url(/starter-code/assets/home/background-home-tablet.jpg);
    }
    &__destination {
      background-image: url(/starter-code/assets/destination/background-destination-tablet.jpg);
    }
    &__crew {
      background-image: url(/starter-code/assets/crew/background-crew-tablet.jpg);
    }
    &__technology {
      background-image: url(/starter-code/assets/technology/background-technology-tablet.jpg);
    }
  }
  .nav {
    &__list {
      width: max-content;
      &::before {
        display: none;
      }
    }
    &__link {
      span {
        display: none;
      }
    }
  }
  .home-intro {
    flex-direction: column;
    padding-top: 6em;
    &__content {
      max-width: 100%;
      text-align: center;
    }
    &__bottomText {
      margin: 0 auto;
      max-width: 60%;
    }
    &__explore {
      padding-top: 4em;
    }
  }
  .page-destination {
    &__img {
      width: auto;
      min-width: none;
      height: auto;
      display: flex;
      justify-content: center;
      img {
        max-width: 80%;
      }
    }
  }
}
@media (max-width: 901px) {
  .page-technology {
    &__container {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &__buttons {
      flex-direction: row;
      max-width: fit-content;
      order: 2;
    }
    &__content {
      width: auto;
      max-width: 400px;
      order: 1;
      min-height: fit-content;
      align-items: center;
    }
    &__desc {
      text-align: center;
    }
    &__img {
      order: 3;
    }
  }
}
@media (max-width: 550px) {
  .homepage-body{
    background-image: url(/starter-code/assets/home/background-home-mobile.jpg);
  }
  .destination-body {
      background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
    }
    .crew-body {
      background-image: url(/starter-code/assets/crew/background-crew-mobile.jpg);
    }
    .technology-body {
      background-image: url(/starter-code/assets/technology/background-technology-mobile.jpg);
    }
  .nav {
    padding: 0;
    align-items: flex-start;
    min-height: 250px;
    &__img {
      padding: 1em;
    }
    &__list {
      display: none;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
      align-items: flex-start;
      &--active {
        display: flex;
      }
    }
    &__link {
      display: flex;
      span {
        display: block;
      }
    }
    &__toggleBtn {
      display: block;
      position: absolute;
      top: 1em;
      right: 1em;
      padding: 1em;
      z-index: 10;
    }
  }
  .home-intro {
    &__bottomText {
      max-width: 100%;
    }
    &__title {
      font-size: 30px;
      padding: 1em 0;
    }
    &__explore {
      transform: scale(0.8);
    }
  }
  .page-destination {
    &__img {
      min-width: 250px;
    }
    &__directions {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__planets {
      ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li {
          width: 50%;
        }
      }
    }
    &__planet {
      font-size: 60px;
    }
    &__details {
      flex-direction: column;
    }
  }
}
@keyframes shadow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
